<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Word Count</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">

        <div style="padding: 0 0 1.5em 0;">
            <h1>Word Count App</h1>
            <br />
            <p class="lead">Enter some text into the field below and hit enter to get the <b>word count</b> and <b>unique word count</b>.</p>
        </div>
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="">
            </div>
            <div class="form-group">
                <textarea rows="6" type="text" class="form-control" id="text_block" name="text_block" placeholder="Boys will be boys."></textarea>
            </div>
            <button type="submit" class="btn btn-success">Get Word Count</button>
        </form>

        <br>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for message in messages %} {% if "Error" not in message[1]: %}

        <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}
        </div>

        {% endif %} {% if "Error" in message[1]: %}

        <div class="alert alert-warning">
            {{ message[1] }}
        </div>

        {% endif %} {% endfor %} {% endif %} {% endwith %}

    </div>
    <br>
    </div>
    </div>
</body>

</html>
